<h1>Info</h1>

<h5>   количество строк в базе: <%= @pages %></h5>
<h5>   количество тэгов в базе: <%= @tags %></h5>
<h5>   количество тэггингс в базе: <%= @taggings %></h5>
<h5>   количество источников в базе: <%= @source %></h5>

<%= 	  %>

<% @s.each do |a| %>
 <h5> <%= image_tag(a.avatar.url(:thumb), class: 'avatar', :size => "20") %>
    количество записей в базе: <%= Page.where(source_id: a.id).count %>
	|  количество записей в базе за день: <%= Page.where(source_id: a.id, time: Date.today.to_time.beginning_of_day..Date.today.to_time.end_of_day).count %>
	|  количество записей в базе за прошлый день: <%= Page.where(source_id: a.id, time: (Date.today-1).to_time.beginning_of_day..(Date.today-1).to_time.end_of_day).count %>
	
	</h5>
<% end %> 



<%= link_to 'Back', pages_path %>
