<h1>Info</h1>

<h5>   количество строк в базе: <%= @pages %></h5>
<h5>   количество тэгов в базе: <%= @tags %></h5>
<h5>   количество тэггингс в базе: <%= @taggings %></h5>
<h5>   количество источников в базе: <%= @source %></h5>

<%= 	  %>





<%= link_to 'Back', pages_path %>