
  <div class="form-group">
    <label for="name">Source name:</label>
    <%= @source.name %>
  </div>
  <div class="form-group">
    <label for="name">Ref:</label>
    <%= @source.ref %>
  </div>


    
<%= simple_form_for [@sourcehtml] do |q| %>
    
    <%=  q.hidden_field :source_id, :value => @source.id %>
    <%=  q.input :url, label: "Url", class: 'form-control'   %>
    <%=  q.input :common1, label: "Common", class: 'form-control'   %>
    <%=  q.input :common2, label: "Common", class: 'form-control'   %>
    <%=  q.input :title, label: "Title", class: 'form-control'   %>
    <%=  q.input :ref, label: "Ref", class: 'form-control'   %>
    <%=  q.input :time, label: "Time", class: 'form-control'   %>
    <%=  q.input :image, label: "Image", class: 'form-control'   %>
    <%=  q.input :summary, label: "Summary", class: 'form-control'   %>



  
 
   

  <div class="form-actions">
    <%= q.button :submit %>
  </div>

 
</form>

<% end %>
