<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tagexcept.tag_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tagexcept.name %>
</p>

<%= link_to 'Edit', edit_tagexcept_path(@tagexcept) %> |
<%= link_to 'Back', tagexcepts_path %>
