<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Новости</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>

<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<style> 
@media screen and (max-width: 480px) {
 
  body {
    margin: 0;
  }
 
  #header .inner {
    padding-top: 5px;
    padding-bottom: 5px;
  }
 
  #header .inner, #content, #nav, #sidebar {
    margin-bottom: 5px;
  }
 
  #nav ul {
    padding: 5px 7px;
  }
 
}
</style>



<nav role="navigation" class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Новости", root_path, class: 'navbar-brand' %>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
                <!-- <li><%= link_to " Категории", root_path %><span class="sr-only">(current)</span></a></li>-->
                 <li><%= link_to "Анализ tag", atags_path %><span class="sr-only">(current)</span></a></li> 
	             <li class="right"><%= link_to 'Загрузить новости', loadnews_path %><span class="sr-only">(current)</span></a></li>
				 <li class="right"><%= link_to 'Тэги', tagexcepts_path %><span class="sr-only">(current)</span></a></li>
				
				 <li class="right"><%= link_to 'Источники', sources_path %><span class="sr-only">(current)</span></a></li>
				 <li class="right"><%= link_to 'Облако тэгов', tag_cloud_path %><span class="sr-only">(current)</span></a></li>
         <li class="right"><%= link_to 'Инфо', info_path %><span class="sr-only">(current)</span></a></li>
         <li class="right"><%= link_to 'Удаление тэгов', remove_tags_path %><span class="sr-only">(current)</span></a></li>
		 <li class="right"><%= link_to 'Поиск', search_tags_path %><span class="sr-only">(current)</span></a></li>
               </ul>

    
   
     
               
            
   
  
            </div>
        </nav>

		
		

          <div class="fluidcontainer">
              <%= yield %>
          </div>

     


</body>
</html>
